<!-- <p>crea works!</p> -->

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Crear Cancha</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['\home']">Home</a>
            </li>
            <li>
                <a>Mantenedores</a>
            </li>
            <li class="active">
                <strong>Cancha</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
  
    </div>
  </div>
  
  <form  [formGroup]="fg" (ngSubmit)="crear()" >

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Datos</h5>              
            </div>
            <div class="ibox-content">
  
                <div class="row">
                    <div role="form">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Estado</label>                                
                                <input class="form-control" placeholder="Cancha" required formControlName="cancha" name="cancha" /> 
                            </div>
                        </div>
                    </div>
                </div>      

                <div class="row">
                    <div role="form">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Precio x Hora</label>                                
                                <input class="form-control" type="number" placeholder="Precio" required formControlName="precio" name="precio" /> 
                            </div>
                        </div>
                    </div>
                </div>      
  
                <div class="row">                                
                    <div class="col-md-12">                        
                        <div>
                            <button title="Crear" class="btn btn-primary">Crear</button>                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>  
    </div> 
  </div>

</form>
  
