<!-- <p>header works!</p> -->

<!-- <a class="minimalize-styl-2 btn nav-link" [routerLink]="['\home']">Home</a> 
<a class="minimalize-styl-2 btn nav-link" [routerLink]="['\estados']">Estados</a>        -->

<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>                    
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <!-- <li>
        <span class="m-r-sm text-muted welcome-message">Bienvenido.</span>
    </li> -->
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <li>
            <a (click)="auth.logout({ returnTo: document.location.origin })" >
              Log out
            </a>
          </li>
          
        </ng-container>    

        <ng-template #loggedOut>
          <li>
            <a (click)="auth.loginWithRedirect()" >Log in</a>
          </li>         
        </ng-template>
</ul>
        
       
      
  </nav>
  </div>